{% extends 'PierreBlogBundle::layout.html.twig' %}

{% block body %}    
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <h2><a href="{{ path('PierreBlogBundle_blog_show', { 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                <div class="date-published">{{ blog.updated|localizeddate('full', 'none') }}</div>
            </header>

            <img src="{{ blog.image }}" alt="L'image n'a pas pu être chargée"/>
            <div class="preview-textblog snippet">
                {{ blog.blog|truncate(500, true)|raw }}
                <p class="continue"><a href="{{ path('PierreBlogBundle_blog_show', { 'slug': blog.slug }) }}">Lire la
                        suite...</a></p>

                <footer class="meta">
                    <p>Nombre de commentaires : {{ blog.comments|length }}</</p>
                    <p>Tags : <span class="highlight">{{ blog.tags }}</span></p>
                </footer>
            </div>
        </article>
    {% else %}
        <p>Il n'y a aucun article pour le moment, désolé.<p>
    {% endfor %}
{% endblock %}


