{% extends 'PierreBlogBundle::layout.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <h2><a href="{{ path('PierreBlogBundle_blog_show', { 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
                <div class="date-published">{{ blog.updated|localizeddate('full', 'none') }}</div>
            </header>

            <img src="{{ blog.image }}" alt="L'image n'a pas pu être chargée"/>
            <div class="preview-textblog snippet">
                {{ blog.blog|truncate(500, true)|raw }}
                <p class="continue"><a href="{{ path('PierreBlogBundle_blog_show', { 'slug': blog.slug }) }}">Lire la
                        suite...</a></p>

                <footer class="meta">
                    <p>Nombre de commentaires : {{ blog.comments|length }}</p>
                    <p>Tags : <span class="highlight">{{ blog.tags }}</span></p>
                </footer>
            </div>
        </article>
    {% else %}
        <p>Il n'y a aucun article pour le moment, désolé.<p>
    {% endfor %}
    <div class="text-center">
        <ul class="pagination">
            {% if pagination.page > 1 %}
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': 1})) }}"><i class="fa fa-angle-double-left"
                                                                       aria-hidden="true"></i></a></li>
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page-1})) }}" style="width: 33.6px;"><i
                                class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            {% endif %}
            {#display p numbers only from p-2 to p+2 but don't go < 1 or  > pages_count#}
            {% for p in range(max(pagination.page - 2, 1), min(pagination.page + 2, pagination.pages_count)) %}
                <li {% if p == pagination.page %} class="active"{% endif %}>
                    <a {% if p == pagination.page %} onclick='return false;'{% endif %} href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if pagination.page<pagination.pages_count %}
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page + 1})) }}" style="width: 33.6px;"> <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.pages_count})) }}"><i
                                class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}


