{# empty Twig template #}

<section class="section">
    <header>
        <h3>Newsletter</h3>
    </header>
    <div class="comment">
        <div class=" ">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post', 'id' :'subscribe-sidebar-form'}}) }}
            <div class="form-group group-sidebar">
                <div class="col-xs-12 sidebar-newsletter">
                    {{ form_widget(form.user, {'id': 'subscribe-sidebar-user'}) }}
                </div>
                <div class="col-xs-12 sidebar-newsletter">
                    {{ form_widget(form.mail, {'id': 'subscribe-sidebar-mail'}) }}
                </div>
                <div class="col-xs-offset-3 col-xs-6 sidebar-newsletter text-center">
                    {{ form_widget(form.submit, {'attr': { 'class': 'btn btn-force' }}) }}
                </div>
            </div>
            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $("#subscribe-sidebar-form").submit(function () {
            $.ajax({
                type: "POST",
                url: "{{ path('PierreSiteBundle_newsletter') }}",
                data: {
                    mail: $("#subscribe-sidebar-mail").val(),
                    user: $("#subscribe-sidebar-user").val(),
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data == 'success') {
                        $('#subscribe-success-modal').modal('show');
                    } else if (data == 'warning') {
                        $('#subscribe-warning-modal').modal('show');
                    } else {
                        $('#subscribe-error-modal').modal('show');
                    }
                    $("#subscribe-sidebar-mail").val("");
                    $("#subscribe-sidebar-user").val("");
                }
            });
            return false;
        });
    </script>
</section>

<section class="section">
    <header>
        <h3>Réseaux sociaux</h3>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=107059596483790";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/leblogetudiant/" data-tabs="timeline"
                 data-small-header="true"  data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/leblogetudiant/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/leblogetudiant/">Facebook</a></blockquote>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="twitter-timeline twitter" data-height="450" href="https://twitter.com/Le_BlogEtudiant">Twitter</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

</section>


<section class="section">
    <header>
        <h3>Commentaires récents</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="informations">{{ comment.user }} a commenté
                    <a href="{{ path('PierreBlogBundle_blog_show', { 'slug': comment.blog.slug }) }}#comment">
                        {{ comment.blog.title }}
                    </a>
                    <em> le
                        <time datetime="{{ comment.created|date('c') }}">{{ comment.created|localizeddate('medium', 'none') }}</time>
                    </em>
                </p>
            </header>
            <p>{{ comment.comment }}</p>
        </article>
    {% else %}
        <p>Il n'y a pas encore de commentaires</p>
    {% endfor %}
</section>

<section class="section">
    <header>
        <h3>Tags fréquents</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
        <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
    <p>Il n'y a pas de tags</p>
    {% endfor %}
    </p>
</section>