{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}| ⚠ Une erreur est parvenue ¯\_(ツ)_/¯
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Site/styles/error.less') }}" rel="stylesheet/less" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container container-shadow">
        <div class="row content error-page-size">

            <div class="paragraphe">
                <h1>⚠ Une erreur est parvenue ¯\_(ツ)_/¯</h1>
            </div>

            <div class="paragraphe">
                <p>Désolé, une erreur est parvenue sur le serveur.</p>
            </div>
            <div class="paragraphe">
                <h2>Que faire ?</h2>
                <p class="not-paragraphe">Il se peut que les informations que vous ayez entré ne soit pas correctes, je
                    vous laisse vous réorienter sur les liens suivants :</p>
                <ul>
                    <li>Identifier les aides auxquelles tu as le droit <a
                                href="{{ path('PierreConnaitresesaidesBundle_homepage') }}">en cliquant ici</a>.
                    </li>
                    <li>Connaître les bons plans pour vivre sa vie d'étudiant à 100% <a
                                href="{{ path('PierreBlogBundle_homepage') }}">en cliquant ici</a>.
                    </li>
                </ul>
            </div>
            <div class="paragraphe">
                <h2>Ce n'est pas la première fois...</h2>
                <p>Si le problème persiste, je vous invite <a
                            href="{{ path('PierreSiteBundle_contact') }}">à me contacter</a> en expliquant clairement ce
                    qui
                    vous a mené sur cette page.
                    <br>Je pourrais corriger le problème au plus vite :)</p>
            </div>
            <div class="paragraphe">
                <p>Je vous remercie pour votre indulgence, le métier de développeur de site web n'est pas aussi simple
                    qu'on
                    ne le croit ☺</p>
            </div>
            <div class="gif-center">
                <iframe src="https://giphy.com/embed/xUA7aN1MTCZx97V1Ic" width="480" height="270" frameBorder="0"
                        class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}