{% extends 'PierreConnaitresesaidesBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}Connaître ses aides pour les étudiants Français
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Site/styles/connaitresesaides.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <div id="entete">
            <h1>Connaitre ses aides</h1>
        </div>
        <hr class="main-hr">
        <div>
            <p>Afin de vous proposer les aides, avantages et offres qui peuvent vous correspondre, il vous faut
                d'abord remplir les informations ci-dessous.</p>
            <p>Les aides, avantages et offres qui vous seront ensuite proposés sont définis grâce à ces
                critères.</p>
            <p>Il se peut que votre ville ne soit pas renseignée. Si c'est le cas, cela veut dire que nous n'avons
                pas encore renseigné les aides de cette ville (nous ne publions les aides d'une ville seulement
                après les avoir toutes référencées). Contactez-nous par mail pour que nous puissions ajouter votre
                ville dès que possible !</p>
            <p>Pour chacun des résultats, un lien vous sera fourni pour vous rédiriger vers la plateforme qui le
                service. À vous ensuite de les contacter pour en savoir plus. <strong>En aucun cas nous ne ferons
                    les démarches à votre place !</strong></p>

        </div>
        <hr class="main-hr">
        <h2>Veuillez remplir les critères ci dessous</h2>
        <div class="from-design">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post'}}) }}
            <div class="form-group form-margin">
                {{ form_label(form.statut, form.statut, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                <div class="col-md-4">
                    {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group form-margin">
                {{ form_label(form.city, form.city, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                <div class="col-md-4">
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group form-margin">
                {{ form_label(form.age, form.age, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                <div class="col-md-4">
                    {{ form_widget(form.age, {'attr': { 'class': 'form-control',
                        'placeholder': 'Entre 14 et 99 ans',
                        'min': '14',
                        'max': '99'}}) }}
                </div>
            </div>
            <div class="form-group form-margin">
                {{ form_label(form.salary, form.salary, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                <div class="col-md-4">
                    {{ form_widget(form.salary, {'attr': { 'class': 'form-control',
                        'placeholder': 'Maximum de 5000€',
                        'min': '0',
                        'max': '5000'}}) }}
                </div>
            </div>
            <div class="form-group form-margin">
                <div class="col-md-offset-4 col-md-4 ">
                    {{ form_widget(form.submit, {'attr': { 'class': 'btn btn-default btn-lg btn-block' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div>
            <p>A titre indicatif, nous ne sauvegardons pas les informations saisies.</p>
        </div>
    </div>
{% endblock %}

