<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block metas %}{% endblock %}
    <title>Le Blog Étudiant {% block title %}{% endblock %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101500776-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-101500776-1');
    </script>


    {#Contains all metas#}
    {{ sonata_seo_metadatas() }}
    {% block facebooktags %}{% endblock %}
    <script type="application/ld+json">{% block structureddata %}{% endblock %}</script>

    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>

    {#Favicons#}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% block stylesheets %}
        {#API#}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('SiteBundle/modules/bootstrap-4.0.0/css/bootstrap.min.css') }}"/>
        <script type="text/javascript" src="https://use.fontawesome.com/541706c8cc.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ asset('SiteBundle/modules/datatables/datatables.min.css') }}"/>

        {#Slick2#}
        <link rel="stylesheet" type="text/css" href="{{ asset('SiteBundle/modules/slick/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('SiteBundle/modules/slick/slick-theme.css') }}"/>

        {#CSS#}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('SiteBundle/styles/footer.less') }}"/>
        <link rel="stylesheet/less" type="text/css" href="{{ asset('SiteBundle/styles/base.less') }}"/>
    {% endblock %}

    {% block scripts %}
        {#LESS#}
        <script type="text/javascript" src="{{ asset('SiteBundle/styles/less.js') }}"></script>
        <script type="text/javascript" src="{{ asset('SiteBundle/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('SiteBundle/js/js-cookie.js') }}"></script>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body>
{#Socials#}
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=107059596483790';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% include 'modal.html.twig' %}
{% include 'nav.html.twig' %}

{% block content %}
{% endblock %}

{{ render(controller('PierreSiteBundle:Site:footer', { 'request' : app.request})) }}
{{ render(controller('PierreSiteBundle:Site:modalsubscribe', { 'request' : app.request})) }}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('SiteBundle/js/base.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('SiteBundle/modules/bootstrap-4.0.0/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('SiteBundle/modules/slick/slick.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('SiteBundle/modules/datatables/datatables.min.js') }}"></script>
{% endblock %}

</body>
</html>