{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption:400,700" rel="stylesheet">
    <link href="{{ asset('Site/styles/nav.less') }}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('Site/styles/less.js') }}" type="text/javascript"></script>
{% endblock %}

<nav>
    <div class="navbar-banner">
        <div>
            <a href="{{ path('PierreSiteBundle_homepage') }}">
                <img src="{{ asset('Site/images/logo.png') }}">
            </a>
            <h3>Pour profiter de sa vie étudiante à 100%</h3>
        </div>
    </div>
    <div class="container">
        <div class="navbar-site row">
            <div class="nav">
                <div class="container-fluid responsive-navbar">
                    <div class="navbar-header navbar-nav navbar-expand-sm navbar-col">
                        <p class="navbar-brand ">MENU</p>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left navbar-col">
                        <li><a href="{{ path('PierreConnaitresesaidesBundle_homepage') }}">Aides & avantages</a></li>
                        <li><a href="{{ path('PierreBonsPlansBundle_homepage') }}">Bons plans</a></li>
                        {#<li><a href="{{ path('PierreBlogBundle_homepage') }}">BLOG</a></li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-col">
                        <li><a href="{{ path('PierreSiteBundle_faq') }}">F.A.Q</a></li>
                        <li><a href="{{ path('PierreSiteBundle_dons') }}">Dons</a></li>
                        <li><a href="{{ path('PierreSiteBundle_apropos') }}">A propos</a></li>
                        <li><a href="{{ path('PierreSiteBundle_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
