{% extends 'PierreBonsPlansBundle::layout.html.twig' %}

{% block facebooktags %}
    {{ parent() }}
    <meta property="og:title" content="Bons plans étudiants- Le Blog Étudiant"/>
    <meta property="og:description"
          content="Retrouve les bons plans étudiants de ta ville (astuces, réductions, avantages) pour profiter de ta vie étudiante à 100% - Le Blog Étudiant"/>
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/864534782071390209/iBXWAKcU_400x400.jpg"/>
    <meta property="og:image:secure_url"
          content="https://pbs.twimg.com/profile_images/864534782071390209/iBXWAKcU_400x400.jpg"/>
{% endblock %}

{% block title %} | Tous les bons plans étudiants{% endblock %}

{% block description %}
    Retrouve les bons plans étudiants de ta ville (astuces, réductions, avantages) pour profiter de ta vie étudiante à 100% - Le Blog Étudiant
{% endblock %}

{% block keywords %}
    plusdebonsplans, bon plan, bon de reduction, code promo etudiant, avantage carte etudiant, gagner argent étudiant, bon plan astuce, annonce etudiant, bon de reduction, etudiant, offre etudiant, reduction etudiant, reduction carte etudiant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('SiteBundle/modules/select2/dist/css/select2.min.css') }}" rel="stylesheet/less"
          type="text/css"/>

{% endblock %}



{% block body %}
    <div style="display: none">
        <p>plusdebonsplans, bon plan, bon de reduction, code promo etudiant, avantage carte etudiant, gagner argent
            étudiant, bon plan astuce, annonce etudiant, bon de reduction, etudiant, offre etudiant, reduction etudiant,
            reduction carte etudiant</p>
    </div>
    <div class="search-bon-plan">
        <h1 class="col-12">Bons plans</h1>
        {{ form_start(form, {'attr': {'class': 'row align-bottom form-search', 'method': 'post'}}) }}
        <div class="col-lg-6 offset-lg-2 offset-1 col-10">
            {{ form_widget(form.city, {'attr': {'class': 'select-city'}}) }}
        </div>
        <div class="offset-lg-0 col-lg-2 offset-3 col-6 text-center">
            {{ form_widget(form.submit, {'attr': { 'class': 'btn submit-button' }}) }}
        </div>
        {{ form_end(form) }}
    </div>

    {% include 'PierreBonsPlansBundle::display.html.twig' %}
{% endblock %}

