{% extends 'PierreBonsPlansBundle::layout.html.twig' %}

{% block title %} | Bons plans et astuces pour étudiants{% endblock %}

{% block keywords %}
    etudiant, aide financière étudiant, plusdebonsplans, Le Blog Etudiant, aide etudiant, etudiant gouv, cidj, lebonsplanetudiant, l étudiant, plus de bon plan, lokaviz, bon plan astuce
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Site/modules/select2/dist/css/select2.min.css') }}" rel="stylesheet/less" type="text/css"/>

{% endblock %}

{% block body %}
    <div style="display: none">
        <p>etudiant, aide financière étudiant, plusdebonsplans, Le Blog Etudiant, aide etudiant, etudiant gouv, cidj,
            lebonsplanetudiant, l étudiant, plus de bon plan, lokaviz, bon plan astuce</p>
    </div>
    <div class="search-bon-plan">
        <div class="row">
            <div class="col-md-12">
                <h2>Bons plans</h2>
            </div>
        </div>
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'row form-search', 'method': 'get'}}) }}
            <div class="col-md-6 col-md-offset-2">
                {{ form_widget(form.city, {'attr': {'class': 'select-city'}}) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(form.submit, {'attr': { 'class': 'btn' }}) }}
            </div>
            {{ form_end(form) }}
        </div>
        {% if city is defined %}
        <div class="row">
            <div class="col-md-12">
                <p>Résultats de la recherche pour la ville : {{ city }}</p>
            </div>
        </div>
        {% endif %}
    </div>

    {% for bonsplan in bonsplans %}
    <article class="bonsplan">
        <div class="row">
            <img class="col-md-4" src="{{ asset("BonsPlansBundle/logos/" ~ bonsplan.logo ) }}" alt="{{ bonsplan.logo }}"/>
            <div class="col-md-8">
                <h2><a href="{{ path('PierreBonsPlansBundle_bonsplan_show', { 'slug': bonsplan.slug }) }}">{{ bonsplan.title }}</a></h2>
                <div class="small-informations">
                    <p>Localisation : {{ bonsplan.localisation }}</p>
                    <p>Dernière mise à jour : {{ bonsplan.updated|localizeddate('full', 'none', 'fr') }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <footer class="meta">
                <p>Nombre de commentaires : {{ bonsplan.comments|length }}</p>
            </footer>
        </div>
    </article>
    {% else %}
    <p>Il n'y a aucun article pour le moment, désolé.<p>
    {% endfor %}
    <div class="text-center">
        <ul class="pagination">
            {% if pagination.page > 1 %}
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': 1})) }}"><i class="fa fa-angle-double-left"
                                                                       aria-hidden="true"></i></a></li>
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page-1})) }}" style="width: 33.6px;"><i
                                class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            {% endif %}
            {#display p numbers only from p-2 to p+2 but don't go < 1 or  > pages_count#}
            {% for p in range(max(pagination.page - 2, 1), min(pagination.page + 2, pagination.pages_count)) %}
                <li {% if p == pagination.page %} class="active"{% endif %}>
                    <a {% if p == pagination.page %} onclick='return false;'{% endif %}
                            href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if pagination.page<pagination.pages_count %}
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.page + 1})) }}" style="width: 33.6px;"> <i
                                class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': pagination.pages_count})) }}"><i
                                class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <script src="{{ asset('Site/modules/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.select-city').select2();
    </script>
{% endblock %}
