{% extends 'PierreBonsPlansBundle::layout.html.twig' %}

{% block metas %}
    <meta name="robots" content="nofollow">
{% endblock %}

{% block title %} | {{ bonsplan.title }} : {{ bonsplan.description }}{% endblock %}

{% block facebooktags %}
    {{ parent() }}
    <meta property="og:title" content="{{ bonsplan.title }} - Le Blog Étudiant"/>
    <meta property="og:description"
          content="{{ bonsplan.description }} - Bons plans & astuces d'étudiants sur Le Blog Étudiant"/>
    <meta property="og:image" content="{{ asset("BonsPlansBundle/facebook/" ~ bonsplan.facebookimage ) }}"/>
    <meta property="og:image:secure_url" content="{{ asset("BonsPlansBundle/facebook/" ~ bonsplan.facebookimage ) }}"/>
{% endblock %}

{% block description %}
    {{ bonsplan.title }} : {{ bonsplan.description }} - Bons plans & astuces d'étudiants sur Le Blog Étudiant
{% endblock %}

{% block keywords %}
    plusdebonsplans, bon plan etudiant, bon plan astuce, annonce etudiant, offre etudiant, reduction etudiant, {{ bonsplan.metakeywords }}
{% endblock %}

{% block structureddata %}
    {
    "@context": "http://schema.org",
    "@type": "Article",
    "url": "https://le-blog-etudiant.fr",
    "name": "{{ bonsplan.title }}",
    "author": "Pierre Belin",
    "datePublished": "{{ bonsplan.created }}",
    "dateModified": "{{ bonsplan.updated }}",
    "headline": "{{ bonsplan.description }}",
    "image": "{{ bonsplan.logo }}",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ bonsplan.link }}"
    }
    }
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('SiteBundle/styles/comments.less') }}" type="text/css" rel="stylesheet/less"/>
{% endblock %}

{% block body %}
    <div style="display: none">
        <p>plusdebonsplans, bon plan, bon de reduction, code promo etudiant, avantage carte
            etudiant, gagner argent étudiant, bon plan astuce, annonce etudiant, bon de reduction, etudiant, offre
            etudiant, reduction etudiant, reduction carte etudiant, {{ bonsplan.title }}</p>
    </div>

    <article class="bonsplan col-12">
        <div class="row header-bonplan">
            <a href="{{ bonsplan.link }}" target="_blank">
                <img src="{{ asset("BonsPlansBundle/logos/" ~ bonsplan.logo ) }}" alt="{{ bonsplan.logo }}"/>
            </a>
            <div class="col-md-12 col-lg">
                <h1>{{ bonsplan.title }}</h1>
                <div class="small-informations">
                    <p>Localisation : {{ bonsplan.localisation }}</p>
                    <p>Dernière mise à jour : {{ bonsplan.updated|localizeddate('full', 'none', 'fr') }}</p>
                </div>
            </div>

        </div>
        <p class="bonplan-website">
            <i class="fa fa-globe" aria-hidden="true"></i>
            Site web : <a href="{{ bonsplan.link }}" target="_blank">{{ bonsplan.link }}</a>
            <br/>
            {% if (bonsplan.facebooklink != null) %}
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook : <a href="{{ bonsplan.facebooklink }}" target="_blank">{{ bonsplan.title }}</a>
            {% endif %}
        </p>
        <hr>
        <div class="textblog" id="blog-form">
            {{ bonsplan.content|raw }}
        </div>
        {% if bonsplanAd != null %}
            <div class="redirection-bonplan">
                <h2>Continue avec un autre bon plan {{ bonsplan.category }}:</h2>
                <div class="bonsplan bonsplanredirection"
                     onclick="sendhref('{{ path('PierreBonsPlansBundle_bonsplan_show', { 'slug': bonsplanAd.slug  })|escape('js') }}')">
                    <div class="row">
                        <img class="col-md-12 col-lg-4 img-fluid"
                             src="{{ asset("BonsPlansBundle/logos/" ~ bonsplanAd.logo ) }}"
                             alt="{{ bonsplan.logo }}"/>
                        <div class="col-lg-7 col-md-12 align-self-center">
                            <h3>{{ bonsplanAd.title }}</h3>
                            <h4>{{ bonsplanAd.description }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr class="hr-margin">
        <div id="open-modal-subscribe" class="footer-bonplan">
            <h4>Tiens toi au courant des prochains bons plans : </h4>
            <div class="row text-center socials-network">
                <a class="col-12 offset-sm-2 col-sm-3 socials-network-facebook"
                   href="https://www.facebook.com/leblogetudiant/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Suivre sur Facebook</a>
                <a class="col-12 offset-sm-2 col-sm-3 socials-network-twitter "
                   href="https://twitter.com/Le_BlogEtudiant" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Suivre sur Twitter</a>
            </div>
        </div>
        <hr class="hr-margin2">
        <div class="footer-bonplan row">
            <div class="col-12 text-center">
                <a onclick="goBack()" href="{{ path('PierreBonsPlansBundle_homepage') }}">Retourner à la liste des bons
                    plans </a>
            </div>
        </div>

    </article>

    <section class="comments" id="comments">
        <div class="previous-comments">

            <div class="comment-written">
                <h3>{{ comments|length }} commentaire{% if comments|length > 1 %}s{% endif %}, ajoute le tien</h3>
                {% include 'PierreBonsPlansBundle:BonsPlanComment:index.html.twig' with { 'comments': comments } %}
            </div>

            <div class="comment-wrap">
                <h3>Que penses-tu de l'article ?</h3>
                <div class="write-advice">
                    <p>Ton adresse mail ne sera pas jamais affiché.</p>
                    {{ render (controller('PierreBonsPlansBundle:BonsPlanComment:new', { 'request': request, 'bonsplan_id': bonsplan.id }) ) }}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }

        function sendhref(value) {
            window.location.href = value;
        }

        window.mobilecheck = function () {
            var check = false;
            (function (a) {
                if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true;
            })(navigator.userAgent || navigator.vendor || window.opera);
            return check;
        };
    </script>

    <script type="text/javascript">
        $(window).load(function () {
            var scrollToModalSubscribe = $("#open-modal-subscribe").offset().top - $(window).height() + 100;

            $(window).scroll(function () {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) == false) {
                    if ($(window).scrollTop() > scrollToModalSubscribe) {
                        if (!Cookies.get('leblogetudiant_modalsubscribeshowed')) {
                            //show pop up
                            Cookies.set('leblogetudiant_modalsubscribeshowed', true);
                            $('#subscribe-modal').modal('show');
                        }
                    }
                }
            });

        });
    </script>

{% endblock %}

