{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

<script>
    {% block javascript %}
    window.onload = function () {
        document.getElementById("form_submit").disabled = true;
    };
    function enableSubmit() {
        document.getElementById("form_submit").disabled = false;
    }
    {% endblock %}
</script>

<div class="form-group">
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post'}}) }}
    <div class="form-margin">
        {{ form_label(form.user, form.user, {'label_attr': {'class': 'control-label'}}) }}
        <div>
            {{ form_widget(form.user, {'attr': {'class': 'form-control',
                'placeholder': 'ex : Jean Dupont'}}) }}
        </div>
    </div>
    <div class="form-margin">
        {{ form_label(form.mail, form.mail, {'label_attr': {'class': 'control-label'}}) }}
        <div>
            {{ form_widget(form.mail, {'attr': {'class': 'form-control',
                'placeholder': 'ex : jean.dupont@gmail.com'}}) }}
        </div>
    </div>
    <div class="form-margin">
        {{ form_label(form.comment, form.comment, {'label_attr': {'class': 'control-label'}}) }}
        <div>
            {{ form_widget(form.comment, {'attr': {'class': 'form-control vresize',
                'placeholder': 'Écris ce qui te passe par la tête, même un simple "merci" nous fera énormément plaisir ! (20 caractères minimum)',
                'minlength': '20',
                'maxlength' : '500'}}) }}
        </div>
    </div>
    <div class="form-margin form-group ">
        <div class="col-md-12">
            {{ form_widget(form.subscribe) }}
            {{ form_label(form.subscribe, form.subscribe, {'label_attr': {'class': 'control-label'}}) }}
        </div>
    </div>

    <div class="form-margin">
        <div class="g-recaptcha " data-sitekey="6LcO2RcUAAAAAHWqmc30eypaOxIfx-rRPKM87xyi"
             data-callback="enableSubmit"></div>
        <p>*N'oublies pas de cocher afin de commenter</p>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            {{ form_widget(form.submit, {'attr': { 'class': 'btn btn-default btn-lg btn-block' }}) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>