    {% extends 'PierreConnaitresesaidesBundle::layout.html.twig' %}

    {% block title %}
        {{ parent() }}Aides et avantages étudiants en France | Résultats
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('Site/styles/resultats.less') }}" rel="stylesheet/less" type="text/css"/>
    {% endblock %}


    {% block content %}
        <div class="container container-shadow">
            <div class="row content">
                <div class="header-aides">
                    <h1>Résultats</h1>
                </div>
                <hr class="main-hr">
                <div class="row results-count">
                    <h2>Il existe au total :</h2>
                    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
                        <p id="count-aid" class="results-number">{{ aidAll|length }}</p>
                        <p>aides</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p id="count-advantage" class="results-number">{{ advantageAll|length }}</p>
                        <p>avantages</p>
                    </div>
                </div>

                <strong><p class="remind-send-results">⚠ Important, lisez attentivement le fonctionnement du site
                        <a href="{{ path('PierreSiteBundle_faq') }}">sur la page de F.A.Q</a>
                        avant de continuer ⚠</p></strong>
                <hr class="main-hr">
                <h2>Liste potentielle d'éligibilité</h2>
                <div id="resultats-results">
                    <h3 class="text-center">Aides</h3>
                    <p class="subtitle">⚠ Vérifier bien les conditions d'accès ⚠</p>
                    <div class="tab-resultats">
                        {% if (aidAll|length == 0) %}
                            <div class="msg-noresult">
                                <p>Il n'y a aucune aide qui correspond à vos critères, désolé.</p>
                            </div>
                        {% else %}
                            <table id="tab-res-aids" class="table table-resultat table-responsive">
                                <thead>
                                <tr>
                                    <th class="col-md-2">Nom</th>
                                    <th class="col-md-2 text-center">Organisme</th>
                                    <th class="col-md-2">Montant</th>
                                    <th class="col-md-4">Description</th>
                                    <th class="col-md-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for array in aidAll %}
                                    <tr class="tr-{% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}">
                                        <td class="col-md-2">{{ array.name }}</td>
                                        <td class="col-md-2 logo-organism"><img
                                                    src="{{ asset("ConnaitresesaidesBundle/logo_organism/" ~ array.logo ) }}"
                                                    alt="{{ array.organism }}"
                                                    title="{{ array.organism }}"></td>
                                        <td class="col-md-2">{{ array.amount }}</td>
                                        <td class="col-md-4">{{ array.description }}</td>
                                        <td class="col-md-2 td-link"><a class="link-more" target="_blank"
                                                                        href="{{ array.link }}"
                                                                        title="Redirection vers le site de {{ array.organism }} qui propose l'aide {{ array.name }}">En
                                                savoir plus</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>

                    <h3 class="text-center">Avantages</h3>
                    <div class="tab-resultats">
                        {% if (advantageAll|length == 0) %}
                            <div class="msg-noresult">
                                <p>Il n'y a aucun avantage qui correspond à vos critères, désolé.</p>
                            </div>
                        {% else %}
                            <table id="tab-res-advantages" class="table table-resultat table-responsive">
                                <thead>
                                <tr>
                                    <th class="col-md-2">Nom</th>
                                    <th class="col-md-2 text-center">Organisme</th>
                                    <th class="col-md-1">Montant</th>
                                    <th class="col-md-1">Prix</th>
                                    <th class="col-md-4">Description</th>
                                    <th class="col-md-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for array in advantageAll %}
                                    <tr class="tr-{% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}">
                                        <td class="col-md-2">{{ array.name }}</td>
                                        <td class="col-md-2 logo-organism"><img
                                                    src="{{ asset("ConnaitresesaidesBundle/logo_organism/" ~ array.logo ) }}"
                                                    alt="{{ array.organism }}"
                                                    title="{{ array.organism }}"></td>
                                        <td class="col-md-1">{{ array.amount }}</td>
                                        <td class="col-md-1">{{ array.price }}</td>
                                        <td class="col-md-4">{{ array.description }}</td>
                                        <td class="col-md-2 td-link"><a class="link-more" target="_blank"
                                                                        href="{{ array.link }}"
                                                                        title="Redirection vers le site de {{ array.organism }} qui propose l'aide {{ array.name }}">En
                                                savoir plus</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    {#<h3 class="text-center">Offres</h3>#}
                    {#<div class="tab-resultats">#}
                    {#{% if (offerAll|length == 0) %}#}
                    {#<div class="msg-noresult">#}
                    {#<p>Il n'y a aucune offre qui correspond à vos critères, désolé.</p>#}
                    {#</div>#}
                    {#{% else %}#}
                    {#<table class="table table-resultat table-responsive">#}
                    {#<thead>#}
                    {#<tr>#}
                    {#<th class="col-md-2">Nom</th>#}
                    {#<th class="col-md-2">Organisme</th>#}
                    {#<th class="col-md-2">Montant</th>#}
                    {#<th class="col-md-2">Description</th>#}
                    {#<th class="col-md-2">Zone éligible</th>#}
                    {#<th class="col-md-2"></th>#}
                    {#</tr>#}
                    {#</thead>#}
                    {#<tbody>#}
                    {#{% for arrayOfferAll in offerAll %}#}
                    {#{% for array in arrayOfferAll %}#}
                    {#<tr class="tr-{% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}">#}
                    {#<td class="col-md-2">{{ array.name }}</td>#}
                    {#<td class="col-md-2">{{ array.organism }}</td>#}
                    {#<td class="col-md-2">{{ array.amount }}</td>#}
                    {#<td class="col-md-2">{{ array.description }}</td>#}
                    {#<td class="col-md-2">{{ array.location }}</td>#}
                    {#<td class="col-md-2 td-link"><a class="link-more" target="_blank"#}
                    {#href="{{ array.link }}"#}
                    {#title="Redirection vers le site de {{ array.organism }} qui propose l'aide {{ array.name }}">En#}
                    {#savoir plus</a></td>#}
                    {#</tr>#}
                    {#{% endfor %}#}
                    {#{% endfor %}#}
                    {#</tbody>#}
                    {#</table>#}
                    {#</div>#}
                    {#{% endif %}#}
                </div>
            </div>
        </div>

        <script>
            var nAid = {{ aidAll|length }}; // Nombre final du compteur
            var nAdvantage = {{ advantageAll|length }}; // Nombre final du compteur
            var cptAid = 0;
            var cptAdvantage = 0;
            var duree = 1;
            var deltaAid = Math.ceil((duree * 1000) / nAid);
            var deltaAdvantage = Math.ceil((duree * 1000) / nAdvantage);
            var nodeAid = document.getElementById("count-aid");
            var nodeAdvantage = document.getElementById("count-advantage");

            function countdownAid() {
                nodeAid.innerHTML = ++cptAid;
                if (cptAid < nAid) { // Si on est pas arrivé à la valeur finale, on relance notre compteur une nouvelle fois
                    setTimeout(countdownAid, deltaAid);
                }
            }

            function countdownAdvantage() {
                nodeAdvantage.innerHTML = ++cptAdvantage;
                if (cptAdvantage < nAdvantage) { // Si on est pas arrivé à la valeur finale, on relance notre compteur une nouvelle fois
                    setTimeout(countdownAdvantage, deltaAdvantage);
                }
            }

            setTimeout(countdownAid, deltaAid);
            setTimeout(countdownAdvantage, deltaAdvantage);

            $(document).ready(function () {
                $('#tab-res-aids').DataTable({
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "columnDefs": [
                        {
                            "targets": 4,
                            "orderable": false
                        },
                        {
                            "targets": 3,
                            "orderable": false
                        },
                        {
                            "targets": 1,
                            "type": "alt-string"
                        },
                    ],
                    "order": [[ 1, "asc" ]]
                });
                $('#tab-res-advantages').DataTable({
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "columnDefs": [
                        {
                            "targets": 4,
                            "orderable": false
                        },
                        {
                            "targets": 5,
                            "orderable": false
                        },
                        {
                            "targets": 1,
                            "type": "alt-string"
                        },
                    ],
                    "order": [[ 1, "asc" ]]
                });
            });
        </script>


    {% endblock %}
