<footer id="footer">
    <div class="container">
        <div class="row footer-site footer-site-top">
            <div class="col-lg-8 navbar-footer">
                <h6 class="nav-title">Newsletter</h6>
                <div id="subscribe-footer">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post', 'id' :'subscribe-footer-form'}}) }}
                    <div class="form-group">
                        <div class="col-lg-3 footer-newsletter">
                            {{ form_widget(form.user, {'id': 'subscribe-footer-user'}) }}
                        </div>
                        <div class="col-lg-5 footer-newsletter">
                            {{ form_widget(form.mail, {'id': 'subscribe-footer-mail'}) }}
                        </div>
                        <div class="col-lg-2 footer-newsletter">
                            {{ form_widget(form.submit, {'id': 'submit', 'attr': { 'class': 'btn btn-force' }}) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
                <p>Aucun spam promis ! Je les déteste autant que vous </p>
            </div>
            <div class="col-lg-2 col-sm-6 navbar-footer-link">
                <h6 class="nav-title">Contact</h6>
                <ul>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_contact') }}">Contact</a></li>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_contact') }}">Partenaires</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 navbar-footer-link ">
                <h6 class="nav-title">Sociaux</h6>
                <ul>
                    <li class="footer-link"><a href="https://www.facebook.com/blogetudiant">Facebook</a></li>
                    <li class="footer-link"><a href="https://twitter.com/Le_BlogEtudiant">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="footer-hr">

    <div class="container">
        <div class="row footer-site">

            <div class="row footer-mention footer-link">
                <p><a href="{{ path('PierreSiteBundle_homepage') }}">Le Blog Étudiant</a> &middot; Copyright &copy; 2016
                    - 2017 &middot; Tous droits
                    réservés</p>
                <ul>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_mentionslegales') }}">Mentions
                            légales</a></li>
                    <li class="footer-link"> &middot; </li>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_cgu') }}">Conditions générales
                            d'utilisation</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $("#subscribe-footer-form").submit(function () {
            $.ajax({
                type: "POST",
                url: "{{ path('PierreSiteBundle_newsletter') }}",
                data: {
                    mail: $("#subscribe-footer-mail").val(),
                    user: $("#subscribe-footer-user").val(),
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data == 'success'){
                        $('#subscribe-success-modal').modal('show');
                    } else if (data == 'warning'){
                        $('#subscribe-warning-modal').modal('show');
                    } else {
                        $('#subscribe-error-modal').modal('show');
                    }
                    $("#subscribe-footer-mail").val("");
                    $("#subscribe-footer-user").val("");
                }
            });
            return false;
        });
    </script>
</footer>