<footer id="footer">
    <div class="container">
        <div class="footer-site footer-site-top">
            <div class="row social-footer">
                <div class="col-9 navbar-footer">
                    <h6 class="nav-title">Suis les dernières nouvelles sur les réseaux sociaux</h6>
                </div>
                <div class="col-3 navbar-footer social-icon">
                    <a href="https://www.facebook.com/leblogetudiant" target="_blank"><i class="fa fa-facebook-square fa-3x facebook-social" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Le_BlogEtudiant" target="_blank"><i class="fa fa-twitter fa-3x twitter-social" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 navbar-footer">
                    <h6 class="nav-title">Newsletter</h6>
                    <div id="subscribe-footer">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post', 'id' :'subscribe-footer-form'}}) }}
                        <div class="form-group row">
                            <div class="col-lg-3 footer-newsletter">
                                {{ form_widget(form.user, {'id': 'subscribe-footer-user'}) }}
                            </div>
                            <div class="col-lg-5 footer-newsletter">
                                {{ form_widget(form.mail, {'id': 'subscribe-footer-mail'}) }}
                            </div>
                            <div class="col footer-newsletter">
                                {{ form_widget(form.submit, {'id': 'submit', 'attr': { 'class': 'btn btn-force' }}) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}

                        {{ form_end(form) }}
                    </div>
                    <p>Aucun spam promis ! Nous les détestons autant que toi !</p>
                </div>
                <div class="col-lg-4 col-sm-12 navbar-footer-link">
                    <h6 class="nav-title">Contact</h6>
                    <ul>
                        <li class="footer-link"><a href="{{ path('PierreSiteBundle_contact') }}">Poser une question</a></li>
                        <li class="footer-link"><a href="{{ path('PierreSiteBundle_contact') }}">Partenaires</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="footer-hr">

    <div class="container">
        <div class="row footer-site">
            <div class="col footer-mention footer-link">
                <p><a href="{{ path('PierreSiteBundle_homepage') }}">Le Blog Étudiant</a> &middot; Copyright &copy; 2016
                    - <script>document.write(new Date().getFullYear())</script> &middot; Tous droits
                    réservés</p>
                <ul>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_mentionslegales') }}">Mentions
                            légales</a></li>
                    <li class="footer-link"> &middot; </li>
                    <li class="footer-link"><a href="{{ path('PierreSiteBundle_cgu') }}">Conditions générales
                            d'utilisation</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $("#subscribe-footer-form").submit(function () {
            $.ajax({
                type: "POST",
                url: "{{ path('PierreSiteBundle_newsletter') }}",
                data: {
                    mail: $("#subscribe-footer-mail").val(),
                    user: $("#subscribe-footer-user").val(),
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data == 'success') {
                        $('#subscribe-success-modal').modal('show');
                    } else if (data == 'warning') {
                        $('#subscribe-warning-modal').modal('show');
                    } else {
                        $('#subscribe-error-modal').modal('show');
                    }
                    $("#subscribe-footer-mail").val("");
                    $("#subscribe-footer-user").val("");
                }
            });
            return false;
        });
    </script>
</footer>