{% extends 'PierreSiteBundle::layout.html.twig' %}

{% block title %}
    {#{{ parent() }}| Pour profiter de sa vie étudiante à 100%#}
    {{ parent() }}| Tous les avantages et aides étudiantes de ta ville
{% endblock %}

{% block description %}
    Tu es étudiant(e) ? Découvre toutes les aides, avantages, bons plans et astuces de ta ville avec Le Blog Étudiant.
{% endblock %}

{% block keywords %}
    aide etudiant, reductions, bons plans etudiant, aide financiere etudiant, blog etudiant, bourse, aide au logement, etudiant, crous, demande de bourse, etudiant gouv, cidj, leblogetudiant, mes services etudiants, l étudiant, dossier social étudiant, lokaviz
{% endblock %}

{% block content %}

    <div class="main-first-action">
        <div class="container">
            <div class="content-padding ">
                <div class="row">
                    <p>Tu es étudiant(e) et tu souhaites connaître tes aides, avantages et bons plans pour tes études ?
                        <br>Il te suffit d'un clic pour te permettre de profiter de ta vie étudiante :)</p>
                    <div class="main-button">
                        <a href="{{ path('PierreConnaitresesaidesBundle_homepage') }}">Découvrir mes aides & avantages
                            étudiants</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-news">
        <div class="container">
            <div class="row">
                <h2>Actualités</h2>
            </div>
        </div>
        <div class="main-news-slick">
            {% for news in mainNews %}
                <div class="">
                    <div class="container">
                        <div class="row content-padding">
                            <div class="col-sm-12 news">
                                <h3>{{ news.title }}</h3>
                                <small>{{ news.date|localizeddate('full', 'none', 'fr') }}</small>
                                <p>{{ news.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="display: none">
        <p>aide etudiant, reductions, bons plans etudiant, aide financiere etudiant, blog etudiant, bourse, aide au
            logement, etudiant, crous, demande de bourse, etudiant gouv, cidj, leblogetudiant, mes services etudiants, l
            étudiant, dossier social étudiant, lokaviz</p>
    </div>
    <div class="row-colored-mainbackground">
        <div class="container">
            <div class="content-padding content ">
                <div class="row">
                    <div class="col-sm-12 col-md-4 index-main-informations">
                        <h2>COMPLET</h2>
                        <p>Plus de 100 aides et avantages sont répertoriés et mis à jour quotidiennement.</p>
                        <p><strong>Recevez et/ou économisez</strong> facilement plus de 200€ par mois.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 index-main-informations">
                        <h2>AUCUN FRAIS</h2>
                        <p>L'intégralité du contenu de vos aides et avantages est totalement gratuit.</p>
                        <p>Aucune des informations personnelles enregistrées n'est sauvegardée.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 index-main-informations">
                        <h2>1 MINUTE</h2>
                        <p>C'est le temps que vous allez mettre pour accéder aux résultats qui vous concernent.</p>
                        <p>Vous serez ensuite dirigés vers les sites officiels proposant chacune des offres.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-main-subscribe">
        <div class="container">
            <div class="row content-padding">
                <h1>Tenez-vous au courant des dernières actualités</h1>
                <div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'method': 'post', 'id' :'subscribe-index-form'}}) }}
                    <div>
                        <div class="col-md-offset-2">
                            <div class="col-md-3 footer-newsletter">
                                {{ form_widget(form.user, {'id': 'subscribe-index-user'}) }}
                            </div>
                            <div class="col-md-4 footer-newsletter">
                                {{ form_widget(form.mail, {'id': 'subscribe-index-mail'}) }}
                            </div>
                            <div class="col-md-3 footer-newsletter">
                                {{ form_widget(form.submit, {'attr': { 'class': 'btn btn-force btn-block' }}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-main-quotes">
        <div class="container ">
            <div class="content-padding ">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 text-center">
                        <blockquote class="quote-index">
                            <p>Après avoir galéré pendant plusieurs heures à me renseigner sur les différentes aides
                                dont je pouvais bénéficier, je suis tombé sur ce site avec espoir d'obtenir quelques
                                informations. La recherche a été super rapide et j'ai eu de très nombreux résultats en
                                accord avec ma
                                situation dont plusieurs que je ne connaissais même pas ! Merci beaucoup pour le gain de
                                temps
                                (et d'argent aussi du coup 😉)</p>
                            <cite>- Robin, 21 ans, alternant à Polytech Lyon</cite>
                        </blockquote>
                    </div>
                    <td class="col-sm-3 col-xs-12">
                        <div class="quote-picture">
                            <img src="{{ asset('Site/images/quote-profile1.jpg') }}" alt="quote-profile.jpg"/>
                        </div>
                    </td>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="quote-picture">
                            <img src="{{ asset('Site/images/quote-profile2.jpg') }}" alt="quote-profile.jpg"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 text-center">
                        <blockquote class="quote-index">
                            <p>Enfin un site qui propose, de manière très facile et rapide, de partager les aides
                                étudiantes!
                                La liste est détaillée et j'ai pu découvrir des solutions pour les transports et le
                                logement
                                dont je n'avais pas entendu parler. Un site vraiment utile !</p>
                            <cite>- Eva, 19 ans, étudiante en BTS design à Lyon</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-colored-mainbackground">
            <div class="container">
                <div class="content-padding content">
                    <div class="row index-ideas">
                        <h2>Quelle est la différence avec l'outil créé par l'État ?</h2>
                        <p>Pour certains d'entre vous, si vous êtes ici, c'est que le site du gouvernement <a
                                    href="https://mes-aides.gouv.fr/">mes-aides.gouv</a> ne vous a proposé qu'un petit
                            pourcentage de ce dont vous avez le droit. C'est normal, car il ne propose que les aides de
                            l'État.</p>
                        <p>Mais il en existe plein d'autres !</p>
                        <p>Vous trouverez ici les aides proposées par l'État, mais aussi les avantages des services que
                            l'on
                            peut utiliser quotidiennement, comme par exemple à la SNCF mais aussi bien d'autres moins
                            connues.</p>
                    </div>
                    <div class="row index-ideas">
                        <h2>Combien puis-je recevoir ?</h2>
                        <p>Pour un ordre d'idée, j'utilise la plupart de ces offres pour recevoir plus de <strong>300€
                                par
                                mois</strong> en aides et économiser plus de <strong>200€ par mois</strong> en avantages
                            étudiants. Mais il est possible d'en avoir bien plus en fonction de votre ville d'étude !
                        </p>
                        <p>Impressionnant, pas vrai ?</p>
                    </div>
                    <div class="row index-ideas">
                        <h2>Faut-il payer pour obtenir mes résultats ?</h2>
                        <p>Non. Vous n'aurez à aucun moment à payer pour accéder au contenu du site. Il est totalement
                            gratuit
                            grâce aux financements des offres partenaires et des publicités affichées.</p>
                        <p>Vous êtes 100% gagnant</p>
                    </div>
                    <div class="row index-ideas">
                        <p><strong>Si vous avez un doute, testez, ça ne vous coûte rien !</strong></p>
                    </div>
                    <div class="row index-ideas">
                        <div class="button-redirection">
                            <a href="{{ path('PierreConnaitresesaidesBundle_homepage') }}">Identifier mes aides</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.main-news-slick').slick({
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 2000,
                speed: 500,
                slidesToShow: 1,
                arrows: false,
            });
        });
    </script>
    <script>
        $("#subscribe-index-form").submit(function () {
            $.ajax({
                type: "POST",
                url: "{{ path('PierreSiteBundle_newsletter') }}",
                data: {
                    mail: $("#subscribe-index-mail").val(),
                    user: $("#subscribe-index-user").val(),
                },
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data == 'success') {
                        $('#subscribe-success-modal').modal('show');
                    } else if (data == 'warning') {
                        $('#subscribe-warning-modal').modal('show');
                    } else {
                        $('#subscribe-error-modal').modal('show');
                    }
                    $("#subscribe-index-mail").val("");
                    $("#subscribe-index-user").val("");
                }
            });
            return false;
        });
    </script>
{% endblock %}
