{# empty Twig template #}
<section class="section">

    <div class="fb-page" data-href="https://www.facebook.com/blogetudiant" data-small-header="true"
         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/blogetudiant" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/blogetudiant">Le Blog Étudiant</a></blockquote>
    </div>

    <a class="twitter-timeline" data-lang="fr" data-dnt="true" data-theme="light"
       href="https://twitter.com/Le_BlogEtudiant">Tweets by Le_BlogEtudiant</a>
    <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <header>
        <h3>Commentaires récents</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="informations">{{ comment.user }} a commenté
                    <a href="{{ path('PierreBlogBundle_blog_show', { 'slug': comment.blog.slug }) }}#comment">
                        {{ comment.blog.title }}
                    </a>
                    <em> le
                        <time datetime="{{ comment.created|date('c') }}">{{ comment.created|localizeddate('medium', 'none') }}</time>
                    </em>
                </p>
            </header>
            <p>{{ comment.comment }}</p>
        </article>
    {% else %}
        <p>Il n'y a pas encore de commentaires</p>
    {% endfor %}
</section>

<section class="section">
    <header>
        <h3>Tags fréquents</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
        <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
    <p>Il n'y a pas de tags</p>
    {% endfor %}
    </p>
</section>